<div class="main-content">
  <div class="container-fluid">
    <div class="card">
        <div class="card-header card-header-warning">
            <h4 class="card-title">Trombinoscope</h4>
            <p class="card-category">Ici vous trouvez la liste des membres et leurs informations.</p>
        </div>
        <div class="card-body">
            <br/>
            <div class="row">
                <div class="col-md-3">
                        <div class="card card-profile bg-light text-dark">
                            <div class="card-avatar">
                                    <img class="img" src="./assets/img/profile.png" />
                            </div>
                            <div class="card-body">
                                
                                <h4 class="card-title text-dark">Fayrouz Ghediri</h4> <hr>
                                fayrouz.ghediri@gmail.com <br>
                                 (+216) 22 888 999 <br>
                                 Tataouine
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                            <div class="card card-profile bg-light text-dark">
                                <div class="card-avatar">
                                    <a href="#pablo">
                                        <img class="img" src="./assets/img/profile.png" />
                                    </a>
                                </div>
                                <div class="card-body">
                                    
                                    <h4 class="card-title  text-dark">Asma Hatira</h4> <hr>
                                    asma.hatira@hotmail.com <br>
                                     (+216) 55 555 222 <br>
                                     Ariana
                                    
                                </div>
                            </div>
                        </div>
                    
                    <div class="col-md-3">
                            <div class="card card-profile bg-light text-dark">
                                <div class="card-avatar">
                                        <img class="img" src="./assets/img/profile.png" />
                                </div>
                                <div class="card-body">
                                    
                                    <h4 class="card-title  text-dark">Ahmed Tounsi</h4> <hr>
                                    ahmed.tounsi@gmail.com <br>
                                     (+216) 53 656 555 <br>
                                     Tunis
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                                <div class="card card-profile bg-light text-dark">
                                    <div class="card-avatar">
                                            <img class="img" src="./assets/img/profile.png" />
                                    </div>
                                    <div class="card-body text-dark">
                                        
                                        <h4 class="card-title text-dark">Salma Ayari </h4> <hr>
                                        ayari.salma@gmail.com <br>
                                         (+216) 98 213 584 <br>
                                         Ben Arous
                                    </div>
                                </div>
                            </div>
                    </div>
        </div>
    </div>
</div>
